---
const name = 'John';
console.log(name); //server side

const users = [
    { name: 'John', age: 30 },
    { name: 'Mike', age: 37 },
    { name: 'Sara', age: 25 },
];
---

<ul>
    {users.map(user => (
            <li>{user.name}</li>
    ))}
</ul>

<script>
    console.log("client side");
</script>